body {
  font-family: "Quicksand", sans-serif;
}

ul.languages {
  font-family: "Bruno Ace SC", sans-serif;
  list-style-type: circle;
  list-style-type: square;
  list-style-type: none;
  list-style-type: lower-latin;
  list-style-type: georgian;

  list-style-position: outside;

  padding: 20px;
  list-style-image: url(..//img/igloo-solid\(5\).svg);
}

h2 i {
  font-size: 40px;
}

.fa-solid {
  color: red;
}

h2 {
  color: blueviolet;
}

ul.pseudo li {
  background-color: darkgray;
  font-weight: 700;
}

ul.pseudo li:first-child {
  color: blue;
}

ul.pseudo li:last-child {
  color: green;
}

ul.pseudo li:nth-child(5) {
  color: purple;
  font-weight: 300;
}

ul.pseudo li:nth-child(odd) {
  color: hotpink;
  background-color: lightgray;
}

ul.pseudo li:nth-child(even) {
  color: lightsalmon;
}

ul.pseudo li:hover {
  background-color: black;
  cursor: pointer;
  /* display: inline-block; */
}

ul.pseudo li:active {
  background-color: green;
}
